<!DOCTYPE html>
<html>
<head>
    <title>忘记密码</title>
    {% include 'admin/common/header.html' %}
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/component/pear/css/pear.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin/css/other/login.css') }}"/>
</head>
<!-- 代 码 结 构 -->
<body background="{{ url_for('static', filename='admin/admin/images/background.svg') }}"
      style="background-size: cover;">
<form class="layui-form" action="/forgetPwd" method="post">
    <div class="layui-form-item">
        <img class="logo" src="{{ url_for('static', filename='admin/admin/images/logo.png') }}"/>
        <div class="title" >忘&nbsp;&nbsp;&nbsp;&nbsp;记&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码</div>

    </div>
    <div class="layui-form-item">
        <input name="username" type="text" placeholder="请输入忘记账户" value="" hover class="layui-input"/>
    </div>


<!--    <div class="layui-form-item">-->
<!--        <input placeholder="验证码 : " name="captcha" hover class="code layui-input layui-input-inline"/>-->
<!--        <img id="captchaImage" src="/data:image/jpg;base64," class="codeImage"  onclick="refreshcode();" />-->
<!--    </div>-->
    <div class="layui-form-item">
        <a href="/login" name="forget-me" title="直接登陆" lay-skin="primary"  style="float:right;font-size:14px;line-height:38px;color:#333;">直接登陆</a>
    </div>
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-success login" lay-submit lay-filter="login">
            确 定
        </button>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;


        if ('{{ data.code }}'==500) {
            layer.alert('{{ data.msg }}');
        }
                   
        //自动加载
        $(function () {
		// 通过jqurey修改
		refreshcode()
        });

        //点击刷新
        $("#captchaImage").click(function() {
        // 单击“刷新”按钮时更新验证码
        refreshcode();
        });

        function refreshcode() {
		// alert('点击了图片');
		var url = "/captchaImage";
		$.ajax({
			url: url,
			type: "GET",
			data: {},
			dataType: 'JSON',
			success: function (res) {
				console.log(res);
				var img_base = 'data:image/jpg;base64,' + res.img
				$("#captchaImage").attr("src", img_base);

			}
		});
	};

        setInterval(function () {
            var url = "/captchaImage";
            $.ajax({
                url: url,
                type: "GET",
                data: {},
                dataType: 'JSON',
                success: function (res) {
                console.log(res);
                var img_base = 'data:image/jpg;base64,' + res.img
                $("#captchaImage").attr("src", img_base);
                }
            });
            }, 60*1000);
        
        
        });


        
        // $(function () {
        //     $("#captchaImage").click(function () {
        //     var url = "/captchaImage";
        //     $.ajax({
        //         url: url,
        //         type: "GET",
        //         data: {},
        //         dataType: 'JSON',
        //         success: function (res) {
        //         console.log(res);
        //         var img_base = 'data:image/jpg;base64,' + res.img
        //         $("#captchaImage").attr("src", img_base);
        //         }
        //     });
        //     });

</script>
<script>
    if (window !== top) {
        top.location.href = location.href;
    }
</script>
</body>
</html>