<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'admin/common/header.html' %}
</head>
<style>
    .layui-elem-quote {
        position: relative;
        padding-bottom: 20px;
    }

    .title {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .source {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        padding-right: 50px;
    }
</style>

<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>京东酒店列表
<!--        <div class="search-box" style="padding-left: 800px">-->
<!--            <input type="text" id="keywords" placeholder="请输入关键字" value="">-->
<!--            <button id="search-btn">搜索</button>-->
<!--          </div>-->
        </legend>
    </fieldset>

    <div id="hotel-list">
    {% for field in data.data %}
    <a href="{{ field.detailPage_url }}" target="_blank">
        <blockquote class="layui-elem-quote layui-quote-nm">
            {{ field.name }}
						<br>价格：{{ field.price }} | 评分：{{ field.score }} | 配置：{{ field.amenities }} | 星级：{{ field.grade }}
            <span class="source">地址：{{ field.province+field.cityName+field.districtName+field.address }}</span>
        </blockquote>
    </a>
    {% endfor %}
    </div>

    <div id="demo1"></div>
    {% include 'admin/common/footer.html' %}

</body>
<script>

layui.use(['jquery', 'layer','laypage'], function () {
  var $ = layui.jquery;
  var layer = layui.layer;
  var laypage = layui.laypage;


  laypage.render({
  elem: 'demo1',
  count: '{{ data.total }}', //数据总数
  limit: '{{ data.pageSize }}',
  curr: '{{ data.pageNum }}',
  jump: function (obj) {
    var keywords = $('#keywords').val(); // 获取搜索关键字
    // 发送分页请求
    $.ajax({
      type: 'GET',
      url: '/api/hotel',
      data: {
        pageNum: obj.curr,
        pageSize: obj.limit,
        keywords: keywords // 将搜索关键字添加到请求参数中
      },
      success: function (response) {
        renderHotelList(response);
        // 处理成功响应
        count = response.data.total;
      },
      error: function (xhr, status, error) {
        console.log('请求失败：' + error);
        // 处理错误响应
      }
    });
    console.log(obj);
  }
});


// 监听搜索按钮的点击事件
$('#search-btn').on('click', function () {
  // 触发分页组件的跳转功能
  laypage.render({
  elem: 'demo1',
  count: '{{ data.total }}', //数据总数
  limit: '{{ data.pageSize }}',
  curr: '{{ data.pageNum }}',
  jump: function (obj) {
    var keywords = $('#keywords').val(); // 获取搜索关键字
    // 发送分页请求
    $.ajax({
      type: 'GET',
      url: '/api/hotel',
      data: {
        pageNum: obj.curr,
        pageSize: obj.limit,
        keywords: keywords // 将搜索关键字添加到请求参数中
      },
      success: function (response) {
        renderHotelList(response);
        // 处理成功响应
        count : response.data.total;
      },
      error: function (xhr, status, error) {
        console.log('请求失败：' + error);
        // 处理错误响应
      }
    });
    console.log(obj);
  }
});
});

// // 监听输入框的输入事件
// $('#keywords').on('input', function () {
//   // 触发分页组件的跳转功能
//   laypage.reload('demo1', {
//     page: {
//       curr: 1 // 跳转到第一页
//     }
//   });
// });
    //将请求结果替换输入的内容
    function renderHotelList(data) {
        var html = '';
        for (var i = 0; i < data.data.data.length; i++) {
						field = data.data.data[i]
             console.log(field)
							html += '<a href="'+field.detailPage_url+'" target="_blank">'
							html += '<blockquote class="layui-elem-quote layui-quote-nm">'
							html += field.name
							html += '<br>价格：'+field.price+' | 评分： '+field.score+'  | 配置： '+field.amenities+'  | 星级： '+field.grade
							html += '<span class="source">地址： '+field.province+field.cityName+field.districtName+field.address+' </span>'
							html +=  '</blockquote></a>'
        }
        console.log(html)
        $('#hotel-list').html(html);
}});




</script>
</html>